body {
	font-family: "Roboto", sans-serif;
	position: relative;
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.mobileview {
	width: 100%;
	max-width: 428px;
	margin: 0px auto;
	background: #f5f5f5;
	min-height: 100vh;
	height: 100%;
}
.mobileview .mobile-header {
	background-color: #eb4b24;
	display: flex;
}
.mobileview .mobile-header {
	color: #fff;
	padding: 13px 16px;
	position: sticky;
	top: 0;
	position: sticky;
}
.mobileview .mobile-header h6 {
	color: #fff;
	font-size: 15px;
	margin: 0;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.wallet {
	width: 25px;
	height: 25px;
	display: flex;
	margin: 0px 0px 0 auto;
}
.knif {
	margin: 0px 15px;
	width: 40px !important;
	height: 40px !important;
	border-radius: 50px;
}
.mobile-header {
	align-items: center;
	z-index: 1;
}
.mobileview .mobile-header i {
	font-size: 21px;
}
.mobileview .start-end-btn .btn-primary {
	padding: 11px 41px;
	font-size: 14px;
	color: #008412;
	background: #b2f0ba;
	border: 1px solid #00b218;
	font-weight: 500;
	margin: 0px 7px;
}
.mobile-main {
	padding: 0px 15px;
}
.btn-primary:focus {
	box-shadow: none;
}
.btn:focus {
	box-shadow: none !important;
}
.btn-primary:active {
	box-shadow: none;
	background-color: transparent;
	border: 0;
}
.start-end-btn .end-btn.btn {
	background: #eca7ab;
	color: #e10000;
	border: 1px solid #e10000;
	padding: 11px 41px;
	font-size: 14px;
	font-weight: 500;
	margin: 0px 7px;
}
.mobileview .start-end-btn {
	justify-content: center;
	display: flex;
	margin: 20px 0px 15px 0px;
}
.mobileview .get-btn .get {
	background: #1c2985;
	color: #fff;
	border: 1px solid #1c2985;
	padding: 11px 41px;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 40px;
}
.mobileview .get-btn {
	text-align: center;
}
.mobileview .match-content {
	background: #fff;
	height: 108px;
	box-shadow: 0px 1px 2px rgb(0 0 0 / 16%);
	border-radius: 10px;
	text-align: center;
	color: #000;
	padding: 11px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.match-content h6 {
	font-size: 12px;
	margin-bottom: 4px;
}
.match-content h5 {
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}
.match-content img {
	margin: 0px 0px 12px;
}
.mobileview .mobile-blance {
	background-color: #1c2985;

	border-radius: 5px;
	padding: 18px 15px;
	margin-top: 25px;
}
.mobileview .mobile-blance h5 {
	font-size: 14px;
	color: #fff;
	margin: 0;
}
.affliliate-card {
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
	margin-bottom: 12px;
	padding-top: 21px;
}
.affliliate-card:last-child {
	margin-bottom: 0px;
}
.affiliate-main {
	padding-top: 20px;
	padding-bottom: 20px;
}
/* .affliliate-card .heading h6 {
	margin: 0;
	color: #000;
	font-size: 14px;
	font-weight: 400;
  } */
.battle {
	display: flex;
	align-content: center;
}
.battle img {
	width: 20px;
	height: 20px;
}

.battle h5 {
	margin: 0;
	font-size: 18px;
}
.affliliate-card .heading {
	padding: 0px 15px;
}
.affliliate-card .center-text h4 {
	color: #e10000;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
}
.affliliate-card .footer-cards {
	background: #ebebeb;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user {
	display: flex;
	justify-content: space-between;
	padding: 21px 15px 15px;
}

// .user::before {
// 	position: absolute;
// 	content: "";
// 	width: 24%;
// 	height: 1px;
// 	background: #dbdbdb;
// 	left: 38%;
// 	top: 299px;
// }
.user-id h6 {
	display: inline-block;
	vertical-align: unset;
	margin: 0;
	font-size: 15px;
}
.pp h5 {
	margin: 0;
	font-size: 14px;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
	padding: 3px 5px;
}
.awad h6 {
	display: inline-block;
	font-size: 16px;
}
.awad {
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-id {
	display: flex;
}

/* .user-id i {
	margin-top: 19px;
  } */
.affliliate-card .footer-cards h3 {
	margin: 0;
	font-size: 14px;
	font-weight: 700;
	color: #119d3a;
}
.user-id i {
	font-size: 18px;
}
.affliliate-card .content {
	display: flex;
	justify-content: space-between;
	align-items: end;
	flex-wrap: wrap;
	padding: 10px 15px;
}

.affliliate-card .content h5 {
	color: #000;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
}

.affliliate-card .content .flag-ico {
	width: 28px;
	height: 28px;
	object-fit: cover;
	box-shadow: 1px 2px 5px #e5ebf6;
	border-radius: 100%;
}

.affliliate-card .team-name {
	font-weight: 700;
	font-size: 16px;
	color: #000;
	margin: 0;
}
.view-card-affiliate {
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
	margin-bottom: 12px;
}
.affliliate-card:last-child {
	margin-bottom: 0px;
}
.view-card-affiliate .heading {
	padding: 9px 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.view-card-affiliate .heading h2 {
	font-size: 16px;
	color: #000;
	font-weight: 700;
	margin-bottom: 6px;
}

.view-card-affiliate .heading p {
	color: #828282;
	font-weight: 400;
	font-size: 14px;
	margin: 0;
}
.view-card-affiliate .heading {
	padding: 9px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f5f5f5;
}
.view-card-affiliate .content-main {
	padding: 0px 15px;
}
.view-card-affiliate .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 12px 0px;
}

.view-card-affiliate .content h5 {
	color: #000000;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
}
.view-card-affiliate .footer-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background: #ebebeb;
	height: 34px;
	border-radius: 0px 0px 5px 5px;
	padding: 0px 15px;
}
.view-card-affiliate .footer-cards h3 {
	margin: 0;
	font-weight: 700;
	font-size: 14px;
}
.view-card-affiliate .green-txt {
	color: #119d3a;
}

.view-card-affiliate .red-text {
	color: #e10000;
}

.view-card-affiliate .red-text svg {
	margin-left: 2px;
}
.footer-bars {
	background: #1c2985;
	color: #fff;
	padding: 11px 15px;
	position: sticky;
	width: 100%;
	max-width: 428px;
	margin: 0px auto;
	bottom: 0;
	z-index: 555;
	box-shadow: 0px -1px 6px rgb(0 0 0 / 16%);
}

.footer-bars h6 {
	margin: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}
.earn-card {
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 12px;
	margin-bottom: 12px;
	border-radius: 5px;
	box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
}

.earn-card img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	object-fit: cover;
}

.left-card {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.earn-card h6 {
	margin: 0;
	font-size: 12px;
	font-weight: 600;
	color: #000;
}
.slider img {
	margin: 19px 0px 0px 38px;
}

.user-id h6 {
	margin: 2px -1px 0px 3px;
}
.earn-card .left-card h6 {
	margin-left: 12px;
}
html,
body {
	position: relative;
	height: 100%;
}

/* body {
		  background: #eee;
		  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		  font-size: 14px;
		  color: #000;
		  margin: 0;
		  padding: 0;
		} */

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.battle h5 .battle h5 {
	display: inline-block;
	vertical-align: bottom;
	margin: 0;
	color: #e03309;
}
.heading {
	display: flex;
	justify-content: space-between;
}
.haesding2 {
	margin-bottom: 10px;
}
.fee p {
	margin: unset !important;
}
.fee h6 {
	margin: 0 !important;
	font-size: 15px;
}
.part h5 {
	margin: 5px 0 0;
	font-size: 18px;
	font-weight: 700;
}
.free button {
	background: #00b218;
	border-radius: 4px;
	border: 1px solid #00b218;
	color: #fff;
	font-weight: 900;
	padding: 8px 23px;
}
.battle h5 {
	margin: 0;
	font-size: 18px;
	color: #eb4b24;
	display: inline-block;
}
.finding h5 {
	margin: 29px 0px 0px;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: white;
}
.player {
	border: 1px solid #e03309;
	border-radius: 8px;
	background-color: #000c !important;
	margin: 0 auto;
}
.firstwin h6 {
	display: inline-block;
	font-size: 14px;
	margin: 0;
}
.win {
	background: antiquewhite;
	display: flex;
	justify-content: space-between;
	width: 130px;
	border-radius: 4px;
	padding: 9px 22px;
	position: relative;
	margin: 16px auto;
}

.logo img {
	display: flex;
	margin: 0 auto;
	padding: 36px 0px;
}
.match {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0px 20px;
}
.thor h6 {
	margin: 8px 0px;
	text-align: center;
	font-size: 14px;
	color: white;
}
.thor img {
	display: flex;
	margin: 0 auto;
	width: 61px;
	height: 61px;
	border-radius: 50px;
}
.vsss {
	display: flex;
	align-items: center;
	justify-content: center;
}
.vsss h6 {
	font-size: 15px;

	color: white;
}
.verifey img {
	width: 15px;
	height: 20px;
}
.verifey h6 {
	margin: 2px 7px;
	font-size: 14px;
	color: #3dd2a2;
}
.verifey {
	display: flex;
	justify-content: center;
	padding: 60px 0px;
}
.player-main {
	width: 100%;
	height: 100%;
}
.ReactModal__Content {
	background-color: transparent !important;
	padding: 0 !important;
	border: unset !important;
	top: 16% !important;
}
.ReactModal__Overlay {
	background-color: #000c !important;
}

.back {
	width: 30px;
	height: 30px;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(286deg)
		brightness(103%) contrast(103%);
}
.mobile-header {
	display: flex;
	justify-content: space-between;
}
.knifee h6 {
	display: inline-block;
}
.knifee {
	display: flex;
	align-items: center;
}
.ccrd-time {
	color: #eb4b24;
	font-size: 14px;
}
.text-red {
	color: red !important;
}
.ccrd-bonus {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex: 1 !important;
	margin-left: 5px !important;
	img {
		margin-right: 4px;
	}
	h6 {
		margin: unset !important;
		color: #e89222;
	}
}
.kniffff {
	margin: 0 8px;
	width: 40px !important;
	height: 40px !important;
	border-radius: 50%;
	object-fit: cover;
}
.info {
	margin-left: 18px;
}
.mobile-h {
	background-color: #000;
}
.mobile-head {
	background: #000 !important;
	border-bottom: 1px solid #ccc;
}
.rank {
	background: #000;
	text-align: center;
	padding-bottom: 20px;
	height: 100vh;
}
.btn-start {
	background: transparent linear-gradient(0deg, #eb4b24 0%, #e03309 100%) 0% 0%
		no-repeat padding-box;
	border-radius: 22px;
	opacity: 1;
	border: 0;
	color: #fff;
	padding: 14px 54px;
	font-size: 14px;
	font-weight: 500;
	margin-top: 40px;
	cursor: pointer;
}
.your-rank {
	color: #fff;
	padding-top: 10px;
	pre {
		font-family: unset !important;
	}
}
.your-rank h5 {
	font-size: 25px;
	margin: 0;
}
.score-content h5 {
	color: #fff;
	font-size: 18px;
}
.your-rank h4 {
	font-size: 62px;
	margin: 10px 0px;
}
.score {
	background-image: url(/img/score-bg.png);
	background-size: cover;
	height: 60px;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}
.prize-con {
	background-color: #dadada;
	border-radius: 7px 7px 0px 0px;
	display: flex;
	justify-content: space-between;
	margin: 8px;
	padding: 10px 18px;
}
.prize-main {
	border: 1px solid #2a2a2a;
	border-radius: 8px;
	padding: 6px;
}
.prize-main .table-respo {
	width: 100%;
	border: 0px;
	border-collapse: collapse;
}
.prize-main .table-respo th h6 {
	color: #000000;
	margin: 0;
	font-size: 14px;
	font-weight: 600;
}
.prize-main .table-respo th {
	/* background: #dadada; */
	border: 0;
	background: #dadada;
	border-collapse: collapse;
	vertical-align: middle;
	padding: 11px 7px;
}
.prize-main .table-respo th:first-child {
	border-top-left-radius: 7px;
	text-align: left;
}
.prize-main .table-respo tr:last-child td {
	border-bottom: 0px;
}
.prize-main .tab-imgs {
	display: flex;
	align-items: center;
	width: 100%;
	flex: 1 1 auto;
}
.id-text {
	margin: 0;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	margin-top: 13px;
}
.prize-main .tab-imgs img {
	width: 41px;
	height: 41px;
	border: 1px solid #fff;
	border-radius: 100%;
	vertical-align: middle;
	object-fit: cover;
	margin: 0px 15px;
}

.prize-main .table-respo td span {
	color: #fff;
	font-size: 14px;
	display: inline-block;
	font-weight: 500;
}
.prize-main .table-respo th:last-child {
	border-top-right-radius: 7px;
}

.prize-main .table-respo td {
	border: 0;
	padding: 11px 7px;
	border-collapse: collapse;
	vertical-align: middle;
	border-bottom: 1px solid #515151;
}
.prize-main .table-respo tr {
	border: 0;

	border-collapse: collapse;
	vertical-align: middle;
}
.prize-main .table-respo table {
	border: 0;

	border-collapse: collapse;
	vertical-align: middle;
}
.prize-main .table-respo table thead {
	border: 0;

	border-collapse: collapse;
	vertical-align: middle;
}
.pri h6 {
	display: inline-block;
	font-size: 14px;
	margin: 0;
}

.ra h6 {
	font-size: 14px;
	margin: 0;
}
.store {
	display: inline-block;
	font-size: 14px;
	margin-left: 100px !important;
	margin: 0;
}

.shine {
	background: #f6f7f8;
	background-image: linear-gradient(
		to right,
		#f6f7f8 0%,
		#edeef1 20%,
		#f6f7f8 40%,
		#f6f7f8 100%
	);
	background-repeat: no-repeat;
	background-size: 800px 104px;
	display: inline-block;
	position: relative;

	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeholderShimmer;
	animation-timing-function: linear;
}

.shine {
	height: 104px;
	width: 100px;
}

lines {
	height: 10px !important;
	margin-top: 10px;
	width: 200px;
}

.photo {
	display: block !important;
	width: 325px;
	height: 100px;
	margin-top: 15px;
}

@keyframes placeholderShimmer {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}

@keyframes ldio-knc5xoxdun {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.ldio-knc5xoxdun div {
	left: 94px;
	top: 48px;
	position: absolute;
	animation: ldio-knc5xoxdun linear 1s infinite;
	background: #e89222;
	width: 12px;
	height: 24px;
	border-radius: 6px / 12px;
	transform-origin: 6px 52px;
}
.ldio-knc5xoxdun div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -0.9166666666666666s;
	background: #e89222;
}
.ldio-knc5xoxdun div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -0.8333333333333334s;
	background: #e89222;
}
.ldio-knc5xoxdun div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.75s;
	background: #e89222;
}
.ldio-knc5xoxdun div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.6666666666666666s;
	background: #e89222;
}
.ldio-knc5xoxdun div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.5833333333333334s;
	background: #e89222;
}
.ldio-knc5xoxdun div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.5s;
	background: #e89222;
}
.ldio-knc5xoxdun div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.4166666666666667s;
	background: #e89222;
}
.ldio-knc5xoxdun div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.3333333333333333s;
	background: #e89222;
}
.ldio-knc5xoxdun div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.25s;
	background: #e89222;
}
.ldio-knc5xoxdun div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.16666666666666666s;
	background: #e89222;
}
.ldio-knc5xoxdun div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.08333333333333333s;
	background: #e89222;
}
.ldio-knc5xoxdun div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
	background: #e89222;
}
.loadingio-spinner-spinner-20aj1y9ioww {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: #fafafa00;
}
.ldio-knc5xoxdun {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.ldio-knc5xoxdun div {
	box-sizing: content-box;
}
/* generated by https://loading.io/ */

.history-main {
	background-color: #fff;
	box-shadow: 0px 1px 5px #3c3c3c24;
	padding: 12px;
	border-radius: 4px;
}
.battle-main {
	display: flex;
	justify-content: space-between;
}
.battle h6 {
	margin: 0px 0px 0px 10px;
	color: #e03309;
	font-size: 18px;
}
.entry-fee h6 {
	margin: unset;
	font-size: 14px;
	font-weight: 500;
	color: #b6b6b6;
}
.entry-fee h6 span {
	font-size: 15px;
	font-weight: 700;
	color: #000;
	margin-left: 1px;
}
.won {
	display: flex;
	justify-content: space-between;
}
.won-person img {
	width: 39px;
	height: 39px;
	margin: 0px 12px 0px 12px;
	border-radius: 50%;
}
.won-person h5 {
	display: inline-block;
	font-size: 14px;
	color: #000;
	margin: unset;
}
.won-person h6 {
	display: inline-block;
	color: #ff992d;
	font-size: 17px;
	font-style: italic;
	margin: unset;
}
.won-person {
	align-items: center;
	display: flex;
}
.won-money h5 {
	font-size: 18px;
	margin: 2px 0px;
	color: #00b218;
}
.won-money h6 {
	margin: unset;
	color: #1fb70b;
	font-size: 15px;
}
.date-time {
	display: flex;
	justify-content: space-between;
}
.date h6 {
	font-size: 14px;
	color: #3c3c3c;
	margin: unset;
}
.id h6 {
	font-size: 14px;
	color: #3c3c3c;
	margin: unset;
}
.id h6 span {
	font-weight: 500;
}
.history-content {
	padding: 14px 14px 0px 14px;
	box-shadow: #c7c7c740 0px 50px 100px -20px, c7c7c740 0px 30px 60px -30px,
		c7c7c740 0px -2px 6px 0px inset;
	margin-bottom: 20px;
}
@keyframes historyCardAnim {
	from {
		transform: translateX(-100%);
	}
	to {
	}
}
.history-ranks {
	background: #fff;
	border: 0;
	border-radius: 0 0 4px 4px;
	height: 140px;
}
.numbering h6 {
	font-size: 14px;
	margin: unset;
}
.history-id h6 {
	font-size: 12px;
	margin: unset;
}
.history-score h6 {
	font-size: 12px;
	margin: unset;
}
.history-prize h6 {
	font-size: 12px;
	margin: unset;
}
.history-dp {
	margin: 0px -18px !important;
}
.history {
	width: 342px;
}
@media (max-width: 575.98px) {
	.history {
		width: 275px;
	}
}

.shine {
	background: #f6f7f8;
	background-image: linear-gradient(
		to right,
		#f6f7f8 0%,
		#808080 20%,
		#f6f7f8 40%,
		#f6f7f8 100%
	);
	background-repeat: no-repeat;
	background-size: 800px 104px;
	display: inline-block;
	position: relative;

	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeholderShimmer;
	animation-timing-function: linear;
}
.name-loading {
	margin-left: 15px;
}
.sldgjlj {
	display: inline-flex;
	flex-direction: column;
	vertical-align: top;
}
.count-anim {
	animation: countAnim 0.5s linear 1;
}
.image-loading {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

@keyframes countAnim {
	from {
		opacity: 1;
	}
	to {
		transform: translateY(-10px);
		opacity: 0;
	}
}

.box {
	height: 104px;
	width: 100px;
}

lines {
	height: 10px !important;
	margin-top: 10px;
	border-radius: 8px;
}
.l1 {
	width: 100px;
}

.l2 {
	width: 50px;
}

.l3 {
	width: 50px;
}

.photo {
	display: block !important;
	width: 325px;
	height: 100px;
	margin-top: 15px;
}

@keyframes placeholderShimmer {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}

.contest-card {
	box-shadow: #c7c7c740 0px 50px 100px -20px, c7c7c740 0px 30px 60px -30px,
		c7c7c740 0px -2px 6px 0px inset;
}

.contest-fab {
	position: fixed;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	max-width: 200px;
	max-height: 50px;
	justify-content: center;
	border-radius: 10px !important;
	background: #f5f5f5 !important;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

	button {
		width: 100px;
		height: 50px;
		border-radius: 10px !important;
		transition: all 0.2s ease-in-out;
		background-color: #f5f5f5;
		border: unset;
		img {
			filter: invert(45%) sepia(0%) saturate(0%) hue-rotate(323deg)
				brightness(81%) contrast(83%);
		}
		p {
			margin: unset;
			font-size: 14px;
		}
	}
}
.cf-active {
	svg path.cf-activation {
		fill: #eb4b24 !important;
	}
	color: #eb4b24 !important;
	border-radius: 5px 5px 5px 5px !important;
	width: 110px !important;
	height: 55px !important;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	background: white !important;
}

.active-cntst-img {
	filter: invert(33%) sepia(51%) saturate(3552%) hue-rotate(352deg)
		brightness(99%) contrast(86%) !important;
}

// leaderboard//
.left-arrow img {
	width: 23px;
	height: 23px;
}
.leader h5 {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
}
.leader {
	margin: 0 auto;
}
.leaderboard-rank {
	background-color: #eb4b24;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 50px;
	border-radius: 0 0 15px 15px;
}
.first-rank h5 {
	margin: 0;
	color: #fff;
	font-size: 27px;
}
.first-rank h6 {
	margin: 0;
}
.name-win {
	font-weight: 500;
	font-size: 23px;
}
.points {
	font-size: 15px;
	font-weight: 400;
}
.first-rank {
	text-align: center;
}
.rank-dp {
	width: 80px;
	height: 80px;
}
.firstrank-dp {
	width: 120px;
	height: 120px;
}
.crown {
	width: 50px;
	height: 50px;
	display: inherit;
	margin: 0 auto;
}
.first-rank {
	color: #fff;
}
.teams-main {
	background-color: #e03309;
	display: flex;
	justify-content: space-between;
	color: #fff;
	margin: 20px 0px;
}
.teams-main h6 {
	font-size: 13px;
	font-weight: 400;
	margin: unset;
	padding: 13px 20px;
}
.team-dp {
	width: 46px;
	height: 46px;
}
.team-bg {
	background-color: #ff5b3421;
	box-shadow: (-2px 1px 4px rgba(0, 0, 0, 0.25));
	border-radius: 5px;
}
.tb {
	border-collapse: collapse;
	width: 100%;
}
// .rank-team {
//     padding-left: 47px;
// }

.team-img h5 {
	margin: 0;
}
.tename h5 {
	margin: 0;
	font-size: 14px;
	margin: 0px 0px 3px 0;
}
.tename h6 {
	margin: 0;
	color: #707070;
	font-size: 12px;
	font-weight: 500;
}
.teamane-main {
	display: flex;
	align-items: center;
	padding: 10px;
}
.tename {
	padding-left: 17px;
}
.rankt {
	font-size: 15px;
	margin-left: -20px;
}
.teamname {
	margin: 0px 10px 10px 10px;
}
.team-bg2 {
	border-radius: 5px;
	box-shadow :(-2px 1px 4px rgba(0, 0, 0, 0.25));
}
.grand-contest{
	background-color: #fff;
	box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
}
.kniiif-img{
	img {
		width: 80px;
		height: 80px;
		border-radius: 5px;
	}
}
.grand-star{
	display: flex;
	img {
		width: 15px;
		height: 15px;
	} 
	h6 {
    margin: 2px 0px 0px 7px;
}
}
.grand-con {
    display: flex;
	padding: 15px;
}
.grand-prize{
	.grand-star img {
		width: 15px;
		height: 15px;
	}
	
	.grand-star {
		display: flex;
	}
	
	.grand-star h6 {
		margin: 2px 0px 0px 7px;
	}
	h5 {
		margin: 5px 0px 0px 0px;
		font-size: 18px;
	}
	
	p {
		margin: 5px 0 0 0;
		font-size: 13px;
		color: #676767;
	}
}
.grand-content {
    padding: 0 15px;
}

.play-user {
    display: flex;
	img {
		width: 18px;
		height: 17px;
	}
	
	p {
		margin: 2px;
		font-size: 12px;
	}
	// box-shadow: -2px 1px 4px rgba(0, 0, 0, 0.25);
}

.time {
    width: 18px;
    height: 18px;
}
.mon {
    margin-left: 4px;
}
.play-content {
    padding: 0px 0px 15px 15px;
}
.play-user {
    margin: 3px 0px;
}
.play-wiin {
    display: flex;
    justify-content: space-between;
}
.play-btn{
		button{
			background: #00b218;
			border-radius: 4px;
			border: 1px solid #00b218;
			color: #fff;
			font-weight: 700;
			padding: 10px 18px;
			cursor: pointer;
		}
}
.play-btn {
    margin: 15px;
}
.grand-contest {
    background-color: #fff;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin: 15px 15px 0 15px;
}
.tour-img img {
    width: 34px;
    height: 34px;
    border-radius: 4px;
}